 <div class="header">
      <div class="head_top">
        <ul>
          <li class="head_top_nav active">
            <a href="javascript:;">创意图片</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">编辑图片</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">创意视频</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">特约拍摄</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">我要供稿</a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="__HOMEIMG__/page2_01.png" alt="">
              <span>客户服务</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="head">
        <div class="wrapper">
          <div class="head_ct clearfix">
            <div class="head_ct_l fl">
              <a href="javascript:;"><img src="__HOMEIMG__/logo01.png" alt=""></a>
            </div>
            <div class="head_ct_c fl clearfix">
              <input type="text" placeholder="查找创意图片..." class="fl">
              <div class="img fl"><img src="__HOMEIMG__/page2_02.png" alt=""></div>
              <a class="xz fl" href="javascript:;">
                <span>创意图片</span>
                <!-- <img src="__HOMEIMG__/page2_03.png" alt=""> -->
                <div class="hide">
                  <p>创意图片</p>
                  <p>编辑图片</p>
                  <p>创意视频</p>
                  <p>编辑视频</p>
                </div>
              </a>
              <a class="search" href="javascript:;"><img src="__HOMEIMG__/page2_04.png" alt=""></a>
            </div>
            <div class="head_ct_r fr zm">
              
              <i><img src="__HOMEIMG__/head.png" alt=""></i>
              <span>疯狂的外星人</span>
              <img class="sch" src="__HOMEIMG__/sch.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>