<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {include file="public/header"}
  <title>2.1-1创意首页</title>
</head>
<body>
  <div class="page2-1 page2">
    <!-- 公共 -->
    {include file="public/nav"}
    <!-- banner -->
    <div class="banner">
      <div class="device">
        <!-- 左右按钮 -->
        <div class="btn swiper-button-prev swiper-button-prev1"></div>
        <div class="btn swiper-button-next swiper-button-next1"></div>
        <!-- 图片内容 -->
        <div class="swiper-container swiper-container1">
          
          <div class="swiper-wrapper">
            <!-- 第一张图 -->
            <!-- <div class="swiper-slide">
              <a href="javascript:;"><img src="__HOMEIMG__/banner1.png"></a>
            </div> -->
          {php} foreach($banner as $k =>$v){ {/php}
            <div class="swiper-slide">
              <a href="{$v['url']}"><img src="{$v['pic_url']}" style="height:485px"></a>
            </div>
          {php} } {/php}
            <!-- 第二张图 -->
            <!-- <div class="swiper-slide">
              <a href="javascript:;"><img src="__HOMEIMG__/banner1.png"></a>
            </div> -->
          </div>
        </div>
        <!-- 轮播小圆点 -->
        <!-- <div class="pagination pagination1"></div> -->
        
      </div>
      
    </div>
    <!-- 内容 -->
    <div class="page2-1_container">
      <div class="nav">
       <!--  {php} foreach($type as $k =>$v){ {/php}
            <a href="javascript:;">人&nbsp;&nbsp;物</a>
        {php} } {/php} -->
        <a class="active" href="javascript:;">创&nbsp;&nbsp;意</a>
        <a href="javascript:;">人&nbsp;&nbsp;物</a>
        <a href="javascript:;">健&nbsp;&nbsp;康</a>
        <a href="javascript:;">风&nbsp;&nbsp;景</a>
        <a href="javascript:;">时&nbsp;&nbsp;尚</a>
        <a href="javascript:;">科&nbsp;&nbsp;技</a>
      </div>
      <div class="main">
        <div class="main-slide">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
 
</body>
{include file="public/footer"}
<script>
  var mySwiper = new Swiper('.swiper-container1',{
    pagination: '.pagination1',
    paginationClickable: true,
    loop:true,
    grabCursor: true,
    nextButton: '.swiper-button-next1',
    prevButton: '.swiper-button-prev1',
    autoplay: 5000,
    speed: 1000
  })
</script>
<script>
  $(".page2-1_container .nav a").hover(function() {
    $(this).addClass("active").siblings().removeClass("active")
    var index = $(this).index()
    $(".page2-1_container .main-slide").eq(index).show().siblings().hide()
  })

</script>
</html>