<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {include file="public/header"}
  <title>2.1-1创意首页</title>
</head>
<body>
  <div class="page2-1 page2">
    <!-- 公共 -->
    <div class="header">
      <div class="head_top">
        <ul>
          <li class="head_top_nav active">
            <a href="javascript:;">创意图片</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">编辑图片</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">创意视频</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">特约拍摄</a>
          </li>
          <li class="head_top_nav">
            <a href="javascript:;">我要供稿</a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="__HOMEIMG__/page2_01.png" alt="">
              <span>客户服务</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="head">
        <div class="wrapper">
          <div class="head_ct clearfix">
            <div class="head_ct_l fl">
              <a href="javascript:;"><img src="__HOMEIMG__/logo01.png" alt=""></a>
            </div>
            <div class="head_ct_c fl clearfix">
              <input type="text" placeholder="查找创意图片..." class="fl">
              <div class="img fl"><img src="__HOMEIMG__/page2_02.png" alt=""></div>
              <a class="xz fl" href="javascript:;">
                <span>创意图片</span>
                <!-- <img src="__HOMEIMG__/page2_03.png" alt=""> -->
                <div class="hide">
                  <p>创意图片</p>
                  <p>编辑图片</p>
                  <p>创意视频</p>
                  <p>编辑视频</p>
                </div>
              </a>
              <a class="search" href="javascript:;"><img src="__HOMEIMG__/page2_04.png" alt=""></a>
            </div>
            <div class="head_ct_r fr">
              <a href="javascript:;" class="active">注册</a>
              <a href="javascript:;">登录</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->
    <div class="banner">
      <div class="device">
        <!-- 左右按钮 -->
        <div class="btn swiper-button-prev swiper-button-prev1"></div>
        <div class="btn swiper-button-next swiper-button-next1"></div>
        <!-- 图片内容 -->
        <div class="swiper-container swiper-container1">
          <div class="swiper-wrapper">
            <!-- 第一张图 -->
            <div class="swiper-slide">
              <a href="javascript:;"><img src="__HOMEIMG__/banner.png"></a>
            </div>
            <!-- 第二张图 -->
            <div class="swiper-slide">
              <a href="javascript:;"><img src="__HOMEIMG__/banner1.png"></a>
            </div>
          </div>
        </div>
        <!-- 轮播小圆点 -->
        <!-- <div class="pagination pagination1"></div> -->
        
      </div>
      
    </div>
    <!-- 内容 -->
    <div class="page2-1_container">
      <div class="nav">
        <a class="active" href="javascript:;">创&nbsp;&nbsp;意</a>
        <a href="javascript:;">人&nbsp;&nbsp;物</a>
        <a href="javascript:;">健&nbsp;&nbsp;康</a>
        <a href="javascript:;">风&nbsp;&nbsp;景</a>
        <a href="javascript:;">时&nbsp;&nbsp;尚</a>
        <a href="javascript:;">科&nbsp;&nbsp;技</a>
      </div>
      <div class="main">
        <div class="main-slide">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_08.png" alt="">
          </a>
        </div>
        <div class="main-slide main-slide1">
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
          <a href="javascript:;">
            <img src="__HOMEIMG__/page2_09.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
 
</body>
{include file="public/footer"}
<script>
  var mySwiper = new Swiper('.swiper-container1',{
    pagination: '.pagination1',
    paginationClickable: true,
    loop:true,
    grabCursor: true,
    nextButton: '.swiper-button-next1',
    prevButton: '.swiper-button-prev1',
    autoplay: 5000,
    speed: 1000
  })
</script>
<script>
  $(".page2-1_container .nav a").hover(function() {
    $(this).addClass("active").siblings().removeClass("active")
    var index = $(this).index()
    $(".page2-1_container .main-slide").eq(index).show().siblings().hide()
  })

</script>
</html>