{include file="public/header"}
<body>
<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑用户<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" enctype="multipart/form-data">

                            <input type="hidden" name="id" value="{$data['id']}">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">类别名:</label>
                                <div class="col-sm-9">
                                     <input type="text" name="name" value="{$data.name}"  required="true" class="form-control" placeholder="请输入类别名"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="sort" value="{$data.sort}"  required="true" class="form-control" placeholder="请输入排序"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>
    
                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态:</label>
                                <div class="col-sm-9">
                    
                                    <select  class="form-control" name="status" required="true">
                                        <option value="">请选择状态</option>
                                        <option value="1" {if condition="$data.status eq 1"}selected{/if}>显示</option>
                                        <option value="2" {if condition="$data.status eq 2"}selected{/if}>隐藏</option>
                                            
                                    </select>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <div class="btn btn-white" onclick="javascript:history.go(-1)">取消</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>