{include file="public/header"}
<body>
<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户详情<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户名称:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="name" value="{$data.name}" required="true" class="form-control" placeholder="请输入用户名称"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">手机号:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="mobilephone" value="{$data.mobilephone}" required="true" class="form-control" placeholder="请输入手机号"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">邮箱:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="email" value="{$data.email}" required="true" class="form-control" placeholder="邮箱"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">备注:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="note" value="{$data.note}" required="true" class="form-control" placeholder="备注"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">注册时间:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="addtime" value="{$data.addtime}" required="true" class="form-control" placeholder="注册时间"> <span class="help-block m-b-none"></span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">状态:</label>
                                <div class="col-sm-9">
                    
                                    <select  class="form-control" name="status" required="true">
                                        <option value="">请选择状态</option>
                                        <option value="1" {if condition="$data.status eq 1"}selected{/if}>开启</option>
                                        <option value="2" {if condition="$data.status eq 2"}selected{/if}>禁用</option>
                                            
                                    </select>

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                   
                                    <div class="btn btn-white" onclick="javascript:history.go(-1)">返回</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>